<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Zegarek</title>
    <link rel="stylesheet" href="application_style.css">
</head>
<body>
<section>
    <div class="container p-5 mt-3" style="margin-bottom: 50px;">
        <div class="row justify-content-center">
            <div class="col-md-7" style="margin-top: 5vh;">
                <div class="card">
                    <div class="card-header text-center">
                        <p class="fs-4">Dodaj Zegarek</p>
                        <th:block th:if="${session != null and session.successMessage != null}">
                            <p class="text-success fw-bold">[[${session.successMessage}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>
                        <th:block th:if="${session != null and session.errorMessage != null}">
                            <p class="text-danger fw-bold">[[${session.errorMessage}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>
                    </div>
                    <div class="card-body">
                        <form action="/admin/saveWatch" method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label>Model</label>
                                <input type="text" name="model" class="form-control" required>
                            </div>

                            <div class="mb-3">
                                <label>Marka</label>
                                <select class="form-control" name="brand" required>
                                    <option value="" selected disabled>WYBIERZ MARKĘ</option>
                                    <option th:each="b:${brands}" th:value="${b.name}">[[${b.name}]]</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label>Stan Techniczny</label>
                                <textarea type="text" class="form-control" name="condition" required></textarea>
                            </div>

                            <div class="mb-3">
                                <label>Opis</label>
                                <textarea rows="3" class="form-control" name="description" required></textarea>
                            </div>

                            <div class="mb-3">
                                <label>Cena PLN</label>
                                <input type="number" step="0.01" name="price" class="form-control" required>
                            </div>

                            <div class="mb-3">
                                <label>Status</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" checked value="true"
                                           name="isActive" id="flexRadioDefault1" required>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Dostępny
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="isActive" value="false"
                                           id="flexRadioDefault2" required>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Niedostępny
                                    </label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="mb-3 col">
                                    <label>Dostępność</label>
                                    <input type="number" name="stock" class="form-control" required>
                                </div>

                                <div class="mb-3 col">
                                    <label>Dodaj Zdjęcie</label>
                                    <input type="file" name="file" class="form-control" required>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-dark text-white col-md-12">Zapisz</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
